
.divCheckInOut{
    background-color: rgba(219, 216, 216, 0.116);
    border: 1px solid #63616118;
    min-height: 120px;
    margin-top: 2.5rem;
}

.logoCalender{
    background-color: #222222b7;
    position: absolute;
    top: -20%;
    left: 40%;
}

.whatsappLink{
    text-decoration: none;
}

.whatsappLink:hover{
    text-decoration: underline;
}

.backGroundSection{
    background-color: rgba(245, 222, 179, 0.267);
}