.barra-de-reserva{
    background-color: #fff;
}

.pesquisar-hover{
    cursor: pointer;
}

.pesquisar-hover:hover{
    background-color: #2222222f;
}

.barra-pesquisa{
    background-color: white;
    z-index: 500;
}