@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --font-01: 'PT Sans', sans-serif;
}













 






